* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #1b1b1b;
    line-height: 1.6;
    font-size: 1rem;
    transition: background-color 1s ease;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    letter-spacing: 0.05rem;
    margin-bottom: 0.75rem;
}
h2 {
    color: #1a0777;
    text-align: center;
    margin-bottom: 1rem;
}
main {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    background-color: #1a0777;
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.nav {
    width: 90vw;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav h4 {
    color: #1a0777;
}
nav a {
    font-weight: 700;
    font-size: 1rem;
    color: hsl(205, 86%, 17%);
    letter-spacing: 0.1rem;
}
nav a:hover {
    color: #0d054d;;
}

.intro {
    max-width: 900px;
    text-align: justify;
    color: #1a0777;
    margin-bottom: 2rem;
}

.topics {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 3rem;
}
.topic-box {
    background-color: #0d054d;;
    border: 1px solid #1a0777;
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 280px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
}
.topic-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px  rgba(0, 12, 6, 0.829);
}
.topic-box h3 {
    color: white;
    margin-bottom: 0.5rem;
    
}

.curiosidades {
    text-align: center;
    background: #1a0777;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 700px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    color: white ;
}
#wave-info {
    font-size: 1.2rem;
    color: #1b3a6f;
    margin-bottom: 1.5rem;
    font-style: italic;
    transition: color 0.6s ease, opacity 0.4s ease;
}

.btn-style {
    text-transform: uppercase;
    background: transparent;
    color: #222;
    letter-spacing: 0.1rem;
    font-weight: 700;
    border: 2px solid #222;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    transition: all 0.3s ease;
}
.btn-style:hover {
    color: #fff;
    background: #1b3a6f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.next{
    background: #b9b9b9;
    padding: 0.8rem;
    margin: 2rem;
    border-radius: 17px;
    width: 200px;
    text-align: center;
}

.next a{
    text-decoration: none;
    color: #000;
}

.next:hover{
    background: #7ab1c5;
}